/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
}

/*===== Colores =====*/
:root {
  --second-color: #ff5a1f;
  --second-color-alt: #d2321e;
  --white-color: #fafaff;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --gray-color: #f0f1f3;
}
/*===== Fuente y tipografia =====*/
:root {
  --title-font: "Poppins", sans-serif;
  --body-font: "Inter", sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
}
/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}
/* class css */
.section {
  padding: 3rem 0rem;
}
.section-title {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
  letter-spacing: 0.4rem;
}
.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color);
  text-align: center;
  margin-bottom: var(--mb-2);
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}
/* header */
.D-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
  display: flex;
  /* justify-content: space-around; */
}
.nav {
  /*  */
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: var(--white-color);
    transition: 0.5s;
    text-align: center;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  color: var(--dark-color);
  font-weight: var(--font-semi);
}
.nav__link:hover {
  color: var(--second-color);
}
.nav__logo {
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-weight: var(--font-bold);
  font-size: 17px;
}
.img-logo {
  width: 25%;
}
.nav__cart {
  padding-top: 7px;
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}
.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
.show {
  right: 0px;
}
.active {
  color: var(--second-color);
}
/*==========HOME=========== */
.home {
  /* background-color: #d2321e; */
}
.home__container {
  height: calc(100vh - var(--header-height));
}
.home__data {
  padding-top: 3rem;
}
.home__title {
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 0rem;
  margin-bottom: var(--mb-1);
  /* text-transform: ; */
}
.home__title b {
  color: var(--second-color);
}
.home_lorem {
  letter-spacing: normal;
  color: red;
  font-size: 12px;
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 290px;
}
/* button */
.button {
  margin-top: 3px;
  display: inline-block;
  background-color: var(--second-color);
  color: var(--white-color);
  padding: 0.5rem;
  border-radius: 2px;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  transition: 0.3s;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.button:hover {
  background-color: var(--second-color-alt);
}
/* reposive */

/* future -=====*/
.future__container {
  row-gap: 2rem;
}
.future__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: var(--gray-color);
  transition: 0.5s;
  border-radius: 4px;
}

.future__box:hover {
  transform: translateY(-0.5rem);
}
.future__img {
  width: 160px;
}
.future__title {
  font-size: var(--h2-font-size);
  line-height: 1.2;
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-weight: var(--font-semi);
}
.future__suitblale {
  font-size: var(--h2-font-size);
  color: var(--second-color);
}
.future__view {
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}
.future__view {
  text-decoration: underline;
}

/* About */
.about__title {
  letter-spacing: 0.5rem;
  font-size: 20px;
}
.about__container {
  row-gap: 2;
}
.about__product {
  transition: 0.3s;
}
.about__product:hover {
  transform: translateY(-0.5rem);
}
.about__box {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--gray-color);
}
.about__new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--second-color);
  border-radius: 4px;
  color: var(--white-color);
  padding: 0.3rem 0.75rem;
  font-size: var(--small-font-size);
}
.about__data {
  text-align: center;
}
.about__name {
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
}
.about__price {
  color: royalblue;
}
/* ===========Offer=========== */
.offer__bg {
  background-image: url("/assets/image/offer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
}
.offer__data {
  padding: 3.5rem 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
}
.offer__title {
  font-size: var(--h1-font-size);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: var(--font-semi);
}
.offer__description {
  margin-bottom: var(--mb-4);
  letter-spacing: 0.2rem;
}
/* ===========NEW========= */
.new__container {
  row-gap: 2rem;
}
.new__box {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--gray-color);
  overflow: hidden;
}
.new__box:hover .new__link {
  bottom: 0px;
}
.new__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 89, 72, 0.2);
  transition: 0.5s;
}
/* =====LETTER====== */
.newletter {
  text-align: center;
}
.newletter__description {
  margin-bottom: var(--mb-2);
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}
.newletter__form {
  display: grid;
  /* full screen */
  grid-template-columns: 1fr 0.5fr;
}
.newletter__input {
  border: none;
  outline: none;
  background-color: var(--gray-color);
  padding: 0 1rem;
}
/* ==logo===== */

.icon__container {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  padding: 1.5rem 0;
}
.icon__logo {
  display: flex;
  justify-content: center;
}
.icon__logo img {
  width: 80px;
  filter: opacity(70%);
}
.icon__logo img:hover {
  width: 80px;
  filter: opacity(100%);
}
.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
}
.footer__container {
  row-gap: 1.5rem;
  margin-bottom: var(--mb-4);
}
.footer__title {
  margin-bottom: var(--mb-1);
}
.footer__deal {
  margin-bottom: var(--mb-2);
}
.footer__img {
  width: 100px;
}
.footer__link,
.footer__socical {
  color: var(--dark-color-light);
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__socical {
  font-size: 1.3rem;
  margin-right: var(--mb-1);
}
.footer__copy {
  border-top: 1px solid white;
  padding-top: 3rem;
  text-align: center;
  color: var(--dark-color-light);
  font-size: var(--small-font-size);
}
/* REPONSIVER */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section-all {
    margin-bottom: var(--mb-4);
  }
  .nav {
    height: calc(var(--header-height));
    justify-content: initial;
  }
  .nav__logo {
    font-size: 20px;
  }
  .img-logo {
    width: 40%;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    height: 100vh;
  }
  .home__data {
    padding: 0;
    height: max-content;
    align-self: center;
  }
  .home__title {
    font-size: 40px;
    text-transform: uppercase;
  }
  .home__img {
    width: 460px;
  }
  .future__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .future__box {
    padding: 0.5rem 3rem 0;
  }
  .future__img {
    width: 150px;
  }
  .about__container,
  .icon__container,
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .offer__data {
    padding: 5rem 0;
  }
  .new__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .newletter__form {
    width: 400px;
    margin: 0 auto;
  }
  .footer__container {
    padding: 2rem o;
  }
  .footer__container {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__data {
    padding-left: 2rem;
  }
  .home__img {
    right: 10%;
  }
  .newletter__form {
    margin: 0 auto;
  }
  .ofer__data {
    padding: 8rem 0;
  }
}
